
[submodule "wrenly"]
	path = extern/wrenly
	url = https://github.com/nelarius/wrenly
[submodule "filesentry"]
	path = extern/filesentry
	url = https://github.com/nelarius/filesentry
[submodule "extern/assimp"]
	path = extern/assimp
	url = https://github.com/Nelarius/assimp
[submodule "extern/wren"]
	path = extern/wren
	url = https://github.com/munificent/wren
[submodule "extern/unittest++"]
	path = extern/unittest++
	url = https://github.com/Nelarius/unittest-cpp
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/Nelarius/SDL
